<?xml version="1.0"?>
<config>
    <modules>
        <HALO_Haloebajessettings>
            <version>0.1.0</version>
        </HALO_Haloebajessettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ebajes>
                                            <title>Image Configure</title>
                                        </ebajes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <ebajessettings>
                <use>standard</use>
                <args>
                    <module>HALO_Haloebajessettings</module>
                    <frontName>ebajessettings</frontName>
                </args>
            </ebajessettings>
        </routers>
        <layout>
            <updates>
                <ebajessettings>
                    <file>ebajessettings.xml</file>
                </ebajessettings>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ebajessettings>
				<use>admin</use>
				<args>
					<module>HALO_Haloebajessettings</module>
					<frontName>ebajessettings</frontName>
				</args>
			</ebajessettings>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Halothemeserything</title>
				</all>
				<admin>
					<children>
						<HALO_Haloebajessettings>
							<title>ebajessettings Module</title>
							<sort_order>10</sort_order>
						</HALO_Haloebajessettings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ebajessettings>
					<file>ebajessettings.xml</file>
				</ebajessettings>
			</updates>
		</layout>
		<events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>HALO_Haloebajessettings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events>
    </adminhtml>   
    <global>
        <models>
            <ebajessettings>
                <class>HALO_Haloebajessettings_Model</class>
                <resourceModel>ebajessettings_mysql4</resourceModel>
            </ebajessettings>
            <ebajessettings_mysql4>
                <class>HALO_Haloebajessettings_Model_Mysql4</class>
                <entities>
                    <ebajessettings>
                        <table>ebajessettings</table>
                    </ebajessettings>
                </entities>
            </ebajessettings_mysql4>
        </models>
        <resources>
            <ebajessettings_setup>
                <setup>
                    <module>HALO_Haloebajessettings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ebajessettings_setup>
            <ebajessettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ebajessettings_write>
            <ebajessettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ebajessettings_read>
        </resources>
        <blocks>
            <ebajessettings>
                <class>HALO_Haloebajessettings_Block</class>
            </ebajessettings>
        </blocks>
        <helpers>
            <ebajessettings>
                <class>HALO_Haloebajessettings_Helper</class>
            </ebajessettings>
        </helpers>
    </global>
	<default>
		<ebajes>
			<products_grid>
				<width></width>
				<height></height>
				<gutter></gutter>
			</products_grid>
            <products_list>
				<width></width>
				<height></height>
				<gutter></gutter>
			</products_list>
			<image_product>
				<base_image_width></base_image_width>
                <base_image_height></base_image_height>
                <thumb_base_width></thumb_base_width>
				<thumb_base_height></thumb_base_height>
			</image_product>
			<related>
				<width></width>
				<height></height>
			</related>
			<crosssell>
				<width></width>
				<height></height>
				<gutter></gutter>
			</crosssell>
			<upsell>
				<width></width>
				<height></height>
				<gutter></gutter>
			</upsell>
            <image_sidebar>
                <width></width>
                <height></height>
            </image_sidebar>
            <image_shopping_cart>
                <width></width>
				<height></height>
			</image_shopping_cart>
            <widget>
                <width></width>
				<height></height>            
            </widget>
		</ebajes>
	</default>
</config>