<?xml version="1.0"?>
<config>
    <modules>
        <HALO_Slideshow>
            <version>0.0.1</version>
        </HALO_Slideshow>
    </modules>
    <global>
        <helpers>
            <slideshow>
                <class>HALO_Slideshow_Helper</class>
            </slideshow>
        </helpers>
        <blocks>
             <slideshow>
                <class>HALO_Slideshow_Block</class>
             </slideshow>
        </blocks>
        <models>
            <slideshow>
                <class>HALO_Slideshow_Model</class>
            </slideshow>
        </models>
    </global>
	<frontend>
        <layout>
            <updates>
                <slideshow>
                    <file>halo_slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Cms>
                    <files>
                        <default>Mage_Cms.csv</default>
                    </files>
                </Mage_Cms>
            </modules>
        </translate>
        <layout>
            <updates>
                <cms>
                    <file>cms.xml</file>
                </cms>
				<slideshow>
					<file>halo_slideshow.xml</file>
				</slideshow>
            </updates>
        </layout>
        <cms>
            <browser>
                <dirs>
                    <exclude>
                        <catalog_dir regexp="0">catalog</catalog_dir><!-- use regexp="0" or "1" to override -->
                        <downloadable>downloadable</downloadable>
                        <flex_dir>flex</flex_dir>
                        <import>import</import>
                        <tmp>tmp</tmp>
                        <js>js</js>
                        <css>css</css>
                    </exclude>
                    <include></include>
                </dirs>
                <extensions>
                    <allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </allowed>
                    <image_allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </image_allowed>
                    <media_allowed>
                        <flv>1</flv>
                        <swf>1</swf>
                        <avi>1</avi>
                        <mov>1</mov>
                        <rm>1</rm>
                        <wmv>1</wmv>
                        <mp3>1</mp3>
                    </media_allowed>
                </extensions>
                <window_width>1000</window_width>
                <window_height>600</window_height>
                <resize_width>100</resize_width>
                <resize_height>75</resize_height>
            </browser>
        </cms>
    </adminhtml>
    <admin>
        <routers>
            <slideshow>
                <use>admin</use>
                <args>
                    <module>HALO_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
    </admin>
    
</config>
